.css-cveggr-MuiListItemIcon-root{
  margin-left: 10px;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  min-width: 48px !important;
}
.active-class{
  background-color: rgba(209, 213, 219, 1) !important;
}